.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#Signup,
#Login {
  margin-top: 20px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 50px;
  background: white;
  max-width: 450px;

}

#logout {
  all: unset;
}

.activity-card img {
  max-width: 100%;
  display: block;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
}


.activity-card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  background-color: #fff;
  position: relative;
  height: 350px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  overflow: hidden;
}


.img-div {
  padding: 0px;
}


.text-div {
  padding: 15px;
}


#interest-tag {
  background-color: #905949;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 5px;
  font-size: 8px;
  height: 15px;
  margin-bottom: 2px;
  margin-right: 5px;
}


#home-btn {
  margin-top: 50px;
}

/* home end styling */

#password-txt {
  font-size: 12px;
}

#google-signup-txt {
  padding-left: 10px;
}

#google-btn {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.noHover {
  pointer-events: none;
}

#discovery-page {
  margin: 50px 0px;
  background-color: white;
  /* background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg"); */
  border-radius: 10px;

  padding: 15px;
  text-align: center;

}

#activity-hello {
  margin-top: 15px;
}

#activity-interest-match-card {
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {

  .container {
    max-width: 100%;
  }
}

/* Navigation */

/* .nav-link:hover {
 color: #008294
} */

.nav-link {
  color: black;

}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color:#008294;
}

/* mouse over link */
a:hover {
  color: #008294;
}

/* selected link */
a:active {
  color: #008294;
}


.hardContactFacts {}

.singleContactInfo {
  display: flex;
  align-items: center;
  margin: 10px;
}

.singleContactInfo div {
  margin: 20px;
}

.allContacts {
  display: flex;
  flex-wrap: wrap;
}

.singleContact {
  margin: 20px;
  padding: 10px;
  max-width: 400px;
  min-width: 400px;
  align-items: center;
  justify-content: space-between;
  align-content: center;

}

.namebox {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.namebox a {
  margin-left: 10px;
}

/* home */

#hero-section {
  padding-top:30px;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.display-3{
  color:white;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.home-btn {
  margin-top: 35px;
  background-color: #F65858;
  padding: 10px; 
  border-radius: 5px;
  width: 200px;
  color:white;
  border-style: none
}