/* just to proof that the connection works */
body {
    background-color: lightblue;
}

.img-max-width {
    max-width: 100%;
}

.container-reverse {
    margin-left: -15px;
    margin-right: -15px;
}