/* delete after */

#E5FFF3 {
    background-color: #E5FFF3;
    width: 40px;
    height: 40px;
}

#17838A {
    background-color: #17838A;
    width: 40px;
    height: 40px;
}

#C4C4C4 {
    background-color: #C4C4C4;
    width: 40px;
    height: 40px;
}

#53595B {
    background-color: #53595B;
    width: 40px;
    height: 40px;
}

/* END */

/* TODO */
/* change URL background image */
body {
    background-color: floralwhite;
    background-image: url("https://github.com/pgmdf/summer-is-coming/blob/master/client/public/background-pattern.png?raw=true");
    background-position: 0 0;
    background-repeat: repeat-x -y;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    color: #53595B;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: 70px;
}

.margin0 {
    margin: 0px;
}

.padding0 {
    padding: 0px;
}

.center {
    align-self: center;
}

/* NAVBAR  */
.sticky-nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
    position: fixed;
    top: 0;
}

.navbar-collapse {}

/* @media (max-width: 990px) {
    .sticky-nav {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
        opacity: 0;
        position: fixed;
        top: 0;
    }
    .navbar-collapse {
        opacity: 0.9;
    }
} */

/* NAVBAR END */

.flex-row {
    display: flex;
    align-items: center;
}

#justify-between {
    display: flex;
    justify-content: space-between;
}

.no-outline:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #17838A;
}

h1 {
    font-size: 22pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 15pt;
}

h4 {
    font-size: 12pt;
}

a,
a:visited {
    color: #17838A;
    text-decoration: none !important;
}

a:hover,
a:active {
    color: #E5FFF3;
    text-decoration: none !important;
}

.bold-head {
    font-weight: bold;
    color: #17838A;
    display: inline;
}

.text-bright {
    color: #E5FFF3;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.btn {
    width: 300px;
    height: 35px;
    background: rgba(255, 255, 255, 0.2);
    border: 1.5px solid #53595B;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    font-size: 15pt;
    line-height: 16px;
    display: flex;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #17838A;
}

ul {
    list-style: none;
}

.inline {
    display: inline;
}

.border-bottom {
    border-bottom: 1px solid #E5FFF3;
}

.box-shadow {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
}


.btn:hover {
    background-image: url("https://github.com/pgmdf/summer-is-coming/blob/master/client/public/button-background-black.png?raw=true");
    background-color: rgba(0, 0, 0, 0.2);
    border: 1.5px solid #53595B;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px #17838A;
}

.btn-primary:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1.5px solid #53595B;
    border-radius: 10px;
    pointer-events: none;
}

.btn:active,
.btn:focus {
    border-color: 1px solid #117788;
    background-color: none;
    outline: none;
}

input {
    font-size: 15pt;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #17838A;
    background: #FFFFFF;
    opacity: 0.65;
    box-shadow: inset 1px 1px 2px #17838A;
    border-radius: 10px;
    padding: 10px;
}

#username {
    max-width: 300px;
    height: 35px;
}

#title,
#location {
    justify-self: center;
}

#description {
    justify-self: center;
}

input:active,
input:focus {
    border-color: #E5FFF3;
    outline: none;
}

.img-max-width {
    max-width: 100%;
}

#activ-img {
    max-width: 350px;
}

.activity {
    border-radius: 15px;
}

.activity img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.box-grey {
    background: #53595B;
    border: 1.5px solid #53595B;
    border-radius: 15px;
    opacity: 0.9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
}

.box-grey>h3 {
    color: #E5FFF3;
}

.box-white {
    background: rgba(255, 255, 255, 0.2);
    border: 1.5px solid #53595B;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
    opacity: 0.95;
    align-items: center;
    text-align: center;
    color: #53595B;
    text-shadow: 2px 2px 3px #FFFFFF;
}

.box-grey>h3 {
    color: #17838A;
}

.back-grey {
    background: rgb(31, 33, 34, 0.35);
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.full-width {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.margin10 {
    margin: 10px;
}

.center {
    align-self: center;
}

/* for all screens */
.profile,
.activity,
.box-grey,
.box-white {
    width: 75%;
}
.interests {
    max-width: 90%;
    align-self: center;
}

/* responsive, for smaller screens */

@media (max-width: 1024px) {

    .profile,
    .activity,
    .box-grey,
    .box-white {
        width: 100%;
    }

    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width: 300px) {
    .btn {
        width: 90%;
        min-height: 35px;
    }
}

/* #profileimage {
    height: 200px;
    background-color: #ffffff;
} */

#profileimage img {
    width: 171px;
    height: 180px;
    border: 3px solid #ffffff;
    object-fit: cover;
}

#profile-info {
    text-align: left;
    margin-left: 20px;
}

.no-bullets {
    list-style: none;
}

.no-border {
    border: none;
}

.no-shadow {
    box-shadow: none;
}

.no-bg {
    background: none;
}

#edit-interests>li{
    display: inline;
    background: none;
}

#edit-interests ul {
    background: none;
    max-height: 5px;
}

